@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  color: #3F3F3F;
  font-family: poppins;
}

/* Header Start */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

ul i {
  font-size: 25px;
}

a {
  text-decoration: none;
}

span {
  color: #F72D57;
}

.btn {
  color: white;
  background-color: #F72D57;
}
/* Header End */

/* Hero Start */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero h1 {
  Width: 574px;
  font-size: 48px;
  line-height: 72px;
}

.hero p {
  width: 517px;
  height:72px;
  size: 16px;
  line-height: 24px;
}
/* Hero End */

/* Main Start */
.btns {
  color: #F72D57;
  background-color: #fff;
  font-size: 24px;
  line-height: 36px;
}

.with_icon {
  color: #fff;
  background-color: #F72D57;
  font-size: 24px;
  line-height: 36px;
}

.bxs-pizza {
  font-size: 35px;
  color: #fff;
}
/* Main End */